.btn{
    text-align: center;
    background-color: rgb(50, 64, 71);
    color: #fff;
    height: 8vw;
    width: 10vw;
    font-size: 3vw;
    border-color: aliceblue;
    margin: 0.2vw;
    border: 0.5vw;
    border-radius: 0.8vw;
    transition: all 0.2s;
}
.btn:hover{
 color:#ffffff;
 background-color:#34d3c6;
}

.btn[value='='] {
    background-color: #b2f5e6;
    color: black;
    transition: all 0.2s;
  }
  .btn[value='=']:hover{
      background-color: aliceblue;
  }
